th:empty {
  font-size: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}

table.noborder tr {
 border: 0;
}

table.noborder td {
 border: 0;
}

tr.colored-list-green {
 border-left: 8px solid #99cc00 !important;
}

tr.colored-list-orange{
 border-left: 8px solid #ffcc00 !important;
}



