.localized-footer {
  position: absolute;
  right: 0;
  bottom: 10;
  left: 0;
  padding: 1rem;
  background-color: #2874A6;
  text-align: center;
}


th:empty {
  font-size: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}


table.noborder td {
 border: 0;
}

.colored-list-green {
 border-left: 8px solid #99cc00;
}

.colored-list-orange {
 border-left: 8px solid #ffcc00;
}

.jsb-thumbnailList * {
  margin: 0;
  padding: 0;
}
.jsb-thumbnailList div {
  margin: 20px;
}
.jsb-thumbnailList ul {
  list-style-type: none;
  width: 500px;
}
.jsb-thumbnailList h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
.jsb-thumbnailList li {
  padding: 10px;
  overflow: auto;
}
.jsb-thumbnailList li:hover {
  background: #eee;
  cursor: pointer;
}
.jsb-thumbnailList li img {
  float: left;
  margin: 0 15px 0 0;
}
.jsb-thumbnailList li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
.book-summary ul.summary li.header {
  background-color: #333333;
  color: #00ccff !important;
}

.book-summary ul.summary li:first-child { 
    display:none !important;
}

.maroon{
  color: #800000 !important;
}
.h3 {
  font-size:18px;
}





